@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&family=Autour+One&family=Caveat&family=Young+Serif&display=swap');

#content {
  max-width: 1600px;
  margin: 0 auto;
}

nav a{
  color: #fcfbfb;
  text-align: center;
  padding: 35px;
}

#hero-msg h1, #hero-msg h4{
  text-align: center;
}

.button-box{
  text-align: center;
}

main section{
  text-align: center;
}

#background {
  height: 725px;
  background-color: #d9c2a3;;
}

body {
  background-color: #fcfbfb;
  font-family: 'Roboto', 'Young Serif', sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
}

header {
  background-color:rgba(20,30,13, .7);
}
nav a:hover {
  background-color: black;
}


.book:hover, .join:hover{
  background-color: black;
  color: #d9c2a3;
}

.msg{
  background-color:rgba(20,30,13, .7);
  color: #fcfbfb;
  line-height: 1.5em;
  padding: 35px;
}

.msg p{
  font-size: .8em;
  padding-bottom: 15px;
}
footer{
  background-color:rgba(20,30,13, .7);
  padding: 25px 50px;
  margin-top: 200px;
}


nav a:hover {
  background-color: black;
  color: #d9c2a3;
}

#hero-img{
  width: 100%;
}

.logo, .icon {
  width: 80px;
}

nav a {
  text-align: center;
  color: #fcfbfb;
  text-decoration: none;
}


.book, .join{
  background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.card-img {
  border: 10px solid #d9c2a3;
}
main section img {
  box-sizing: border-box;
}

footer a{
  text-align: center;
  color: #fcfbfb;
  text-decoration: none;

}

footer p {
  font-size: 1.2em;
  color: #d9c2a3;
}

footer p a:hover {
  text-decoration: underline;
  color: #d9c2a3;
}


.home-title {
  font-family: 'Autour One', 'Caveat', sans-serif;
  font-size: 2em;
  margin-top: 10px;
}

#logo_link {
  padding-top: 5px;
}

.icon{
  padding-top: 10px;
}

footer .social img   {
  padding-top: 15px;
}

.rivers-card, .camping-card, .rapids-card   {
  margin: 200px 0;
}