@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&family=Autour+One&family=Caveat&family=Young+Serif&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fcfbfb;
  font-family: 'Roboto', 'Young Serif', sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
}

#content {
  max-width: 1600px;
  margin: 0 auto;
}

li{
  list-style: none;
}

a {
  text-decoration: none;
}

.dark_button {
  background-color: #7270e2;
  color: #fcfbfb;
  padding: 8px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  border : 1.5px solid #7270e2;
}

.dark_button:hover {
  background-color: #fcfbfb;
  color: #7270e2;
}

.light_button {
  background-color: #fcfbfb;
  color: #00B28F;
  padding: 8px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  border : 1.5px solid #00B28F;
}

.light_button:hover {
  background-color: #00B28F;
  color: #fcfbfb;
}

/* #### HEADER #### */
header {
  background-color:rgba(20,30,13, .7);
  display: grid;
  grid-template-columns: 150px auto
}

nav {
  display: flex;
  justify-content: space-around;
}

nav a{
  color: #fcfbfb;
  text-align: center;
  padding: 35px;
}

nav a:hover {
  background-color: black;
  color: #d9c2a3;
}

.logo {
  width: 80px;
}

#logo_link {
  padding-top: 5px;
  justify-self: center;
  align-self: center;
}

.icon{
  padding-top: 10px;
}


/* #### HERO #### */
#hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 48px;
  align-items: center;
}

.home-title {
  font-family: 'Autour One', 'Caveat', sans-serif;
  font-size: 2em;
}

#hero-msg {
  max-width: 700px;
}

#hero-msg h4 {
  font-weight: normal;
  margin-top: 18px;
}

#hero-msg .button-box{
  display: flex;
  gap: 16px;
  margin-top: 32px;
}

#hero-box img {
  width: 100%;
}


/* #### MAIN #### */
section {
  margin-top: 200px;
}

section .title {
  font-family: 'Autour One', 'Caveat', sans-serif;
  font-size: 32px;
  text-align: center;
  font-weight: 900;
}



section .title_left {
  font-size: 32px;
  font-weight: 900;
}

.rivers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 56px;
}
.rivers_item{
  display: flex;
  flex-direction: column;
  border: #000  1px solid;
  border-radius: 10px;
  overflow: hidden;
}

.rivers_item img{
  width: 100%;
}

.rivers_text {
  padding: 16px 24px;
}

.rivers_item h3{
  font-size: 26px;
  margin-top: 8px;
  text-align: center;
}

.rivers_item p{
  margin-top: 12px;
}

.rivers_item .button-box {
  margin-top: 48px;
  text-align: center;
}

.blog {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.blog .text_left {
  text-align: left;
}

.blog_left  h3{
  font-size: 32px;
}

.blog_left  p{
  margin-top: 12px;
}

.blog_left .subtitle{
  width: 80%;
}

.blog_items {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  gap: 24px;
}

.blog_item {
  display: flex;
  gap: 24px;
  border: #000  1px solid;
  border-radius: 10px;
  padding: 16px 24px;
}

.blog_item img{
  width: 120px;
  border-radius: 10px;
}

.blog_right{
  border: #000 1px solid;
  border-radius: 10px;
  padding: 16px 24px;
}

.blog_right img{
  width: 100%;
  height: 250px;
  border-radius: 10px;
}

.blog_right h4 {
  margin-top: 8px;
}

.blog_right p {
  font-size: 24px;
  margin-top: 12px;
}

.questions{
  margin-top: 24px;
}

.question_item{
  padding: 16px 24px;
  border: #000 1px solid;
  border-radius: 10px;
  margin-top: 24px;
  box-shadow: #b6b6b6 5px 5px 10px;
}

.question_item .question_title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.question_item h4{
  font-size: 26px;
}

.question_item svg{
  width: 20px;
}

.question_item p{
  margin-top: 18px;
}

.section_trips .title{
  text-align: left;
}
.trips{
  display: flex;
  flex-direction: column;
  gap: 42px;
  padding: 30px 0px;
}

.trip_item {
  display: flex;
  gap: 24px;
  border: #000  1px solid;
  border-radius: 10px;
  padding: 16px 24px;
}

.trip_item img{
  width: 280px;
  border-radius: 10px;
}

.trip_item h4{
  font-size: 24px;
}

.trip_item .dates{
  margin-top: 32px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.available_dates {
  margin-top: 18px;
}



.trip_item p{
  font-size: 16px;
  font-weight: 900;
}

.trip_item .description{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.trip_item .description .right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.trip_item .description .right .price{
  font-size: 22px;
  font-weight: 900;
}

/* #### FOOTER #### */
footer{
  background-color: #6f7364;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a{
  text-align: center;
  color: #fcfbfb;
  text-decoration: none;

}

footer p {
  font-size: 1.2em;
  color: #d9c2a3;
}

footer p a:hover {
  text-decoration: underline;
  color: #d9c2a3;
}

/* #### MEDIA QUERIES #### */
@media screen and (max-width: 900px) {
  * {
    padding: 0px 8px;
  }

  section{
    margin-top: 96px;
  }

  #hero, .home-grid {
      display: block;
      height: auto;
  }
  #hero-box {
    margin-top: 18px;
  }
  nav, footer {
      flex-direction: column;
  }
  nav a {
      display: block;
      padding: 15px;
  }

  #hero-msg {
      margin-top: 0;
  }
  #hero-msg h4 {
      display: none;
  }

  .home-title {
      font-size: 25px;
      text-align: center;
  }

  .button-box{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .rivers{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 56px;
  }

  .blog {
    display: flex;
    flex-direction: column;
  }

  .blog .text_left {
    text-align: center;
  }

  .blog .blog_left{
    text-align: center;
  }

  .blog_left .subtitle{
    width: 100%;
  }

  .blog_item img{
    display: none;
  }

  .trip_item .description{
    flex-direction: column;
    gap: 12px;
    align-items: center;
  }

  .trip_item {
    display: flex;
    flex-direction: column;
  }

  .trip_item img{
    width: 100%;

  }

  .trip_item .right .price {
    margin-top: 16px;
    text-align: center;
    width: 100%;
  }

  .trip_item .right .dark_button {
    text-align: center;
    width: 100%;
    margin-top: 32px;
  }

  footer {
      margin-top: 25px;
  }
}





